@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

body{
  overflow: hidden;
}
.imgicon{
  width: 10rem;
}
.bg-fundo{
  background: linear-gradient(rgb(255, 0, 0), rgb(255, 145, 0));
  height: 108vh;
}
.bg-gl{
  background: linear-gradient(rgb(88, 88, 88), rgb(36, 36, 36));
  height: 108vh;
}
.bg-marine{
  background: linear-gradient(rgb(0, 140, 255), rgb(0, 255, 221));
  height: 108vh;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Mate SC', serif;
}
.imgmod{
  width: 107px;
  padding: 5px;
}
.imgman{
  width: 130px;
  padding: 2px;
}
